foreach $images do
	<div class="image">
		<img src="@url" alt="@title" class="scale-with-grid">
		<!-- <img src="@url" alt="@title" width="@width" height="@height"> -->
    if @description do
      <em>@description</em>
    endif
	</div>
endforeach