foreach $root do

    if $children do
    <section class="topic">
        <div class="category subtitle sixteen columns">
            <h5>@title</h5>
        </div>
        <div class="project-list sixteen columns">
            foreach $children do
                <div class="thumbnail view">
                	<a class="third-effect" href="@url">
                        <img src="@thumb" alt="@title" />
                        <div class="mask">
                            <div class="info">
                                <h4>@title</h4>
                                <p>@role</p>
                                <p>@blurb</p>
                            </div>
                        </div>

                    </a>
                </div>

            endforeach

        </div>
    </section>
    endif
endforeach