foreach $root do
    if $children do
        <div class="category four columns subtitle">
            <h5>@title</h5>
        </div>
        <div class="project-list eleven columns offset-by-one">
            foreach $children do
                <div class="thumbnail column">
                	<a href="@url">
                        <img src="@thumb" alt="@title" />
                    </a>
                </div>
            endforeach
        </div>
        <hr>
    endif
endforeach