<footer id="footer" class="sixteen columns">
	<span>
		<h5>&copy; @name @current_year</h5>
	</span>
    <span class="footer-text"><!-- <a class="atom-rss" href="@root_path/?/feed/">RSS</a> -->
        Content managed by <a href="http://www.staceyapp.com">Stacey</a><br/>
        <p>Built with</p> <h5 class="skeleton"><a href="http://www.getskeleton.com/">Skeleton</a></h5>
    </span>

</footer>