/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Image Hover Effects
	#Media Queries
	#Font-Face


*/

/*@import url("mj-contact.css"); /* CONTACT FORM STYLES */

/* #Site Styles
================================================== */

/*body { padding: 10px 0; background: url(../../images/fd-background.png) top left repeat; }*/
body { padding: 10px 0 30px 0; background: url(../../images/white_texture.png) top left repeat; font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif; }

	a { text-decoration: none; }

		.navigation { float:right; position:relative; display:inline; top:75px; margin-right: 20px; font-size: 18px; }
			.navigation, h1,h2,h3,h4,h5 { font-family: 'code_boldregular', Arial, Helvetica, sans-serif; }




/* #Page Styles
================================================== */

/*.container { background: url(../../images/skeleton-grid960.png) top center repeat-y; }*/


	header { width: 100%; margin-bottom :15px; }
		header a.logo { float:left; position:relative; display:inline; margin-right: 10px; }

	section.topic { float:left; position: relative; display:block; width:100%; margin: 10px 0; padding: 5px 0;}

	.subtitle { background: url(../../images/stripes.png) top left repeat; margin: 0 0 20px 0; }
	.project-list.columns { float:right; }

	.thumbnail { float:left; position:relative; width:280px; height:150px; margin: 0 20px 20px 0;}
        .thumbnail.last{ margin: 0 0 20px 0 !important; }
		.thumbnail img { width: 100%; height: 100%; display:block; position:relative; }
            .thumbnail .info h4 { font-family: 'Helvetica','Helvetica Neue', Arial, sans-serif; text-align:left; line-height: 24px; margin:10px; }
            .thumbnail .mask .info p, .thumbnail .mask .info h4{ color:#F9F9F9; }
            .thumbnail .mask .info p { float:left; position:relative; display:block; clear:both; margin: 0 0 0 10px; width:250px; text-align:left; }



    /* #Project Page
    =======================================================================*/
    #media .description p { font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif; }

    .description h5 { font: bold 14px 'Helvetica Neue','Helvetica',Arial,sans-serif; }
    .description a { font-weight:bold; }
    .description a.button { padding: 10px !important; color:#F9F9F9 !important; }
    .description a.button:hover { color:#333745 !important; }
    .description .contact-info { margin: 0 !important; padding: 10px 0;}
    .description .contact-info-arrow-down { right: 235px; }
    .description .two-thirds.column { margin-left: 0; margin-right:20px; }
        .description .contact-info li.button { margin-bottom:5px; }
        .description .contact-info li.button {
            color: #333745;
            background: #77C4D3; /* Old browsers */
            background: #77C4D3 -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
            background: #77C4D3 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
            background: #77C4D3 -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
            background: #77C4D3 -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
            background: #77C4D3 -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
            background: #77C4D3 linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
          border: 1px solid #333745;
          border-top: 1px solid #333745;
          border-left: 1px solid #333745;
        }

    #media .image { margin:10px 0; }
    #media .image img {
        border: 1px solid #999;
        -webkit-box-shadow: 0px 0px 8px rgba(51, 55, 69, 0.65);
        -moz-box-shadow:    0px 0px 8px rgba(51, 55, 69, 0.65);
        box-shadow:         0px 0px 8px rgba(51, 55, 69, 0.65);
    }



    /* #Contact Form
    =======================================================================*/

    .contact-form, #mj-response { float:left; position:relative; }
    #mj-response { margin: 0; width:100%; padding:10px; font-weight: bold; font: normal 20px 'Helvetica Neue','Helvetica', Arial, sans-serif!important; text-shadow: 0px 2px 3px #333; color: #333745; min-height: 300px; }
    .contact-form.columns { margin-left: 0 !important; }
    .contact-form h2, .contact-form p { margin-left:10px; clear:both; }
        .contact-form input[type="text"],
        .contact-form input[type="password"],
        .contact-form input[type="email"],
        .contact-form textarea,
        .contact-form select {
            width:400px ;
        }
        .contact-form textarea { height: 150px; }
        .contact-form p.subtext { font-weight: bold; color:#333745; }
        .contact-form label em, .contact-form p em { color:#CC0000; }

        .contact-form input[type="submit"] {
            float:right;

        }

        .contact-form #mj-contact-form { float:left; background: url(../../images/stripes.png) top left repeat; }
            #mj-contact-form form.contact-form { margin: 10px 25px; }

        .contact-info {
            float:left;
            position:relative;
            background-color: rgba(51,55,69,0.6);
            -webkit-border-radius: 10px;
            -moz-border-radius:10px;
            border-radius:10px;

        }



            .contact-info h4, ul { margin: 10px; }
                .contact-info h4 { font: normal 24px 'Helvetica Neue','Helvetica', Arial, sans-serif!important; color:#F9F9F9; text-shadow: 0px 2px 3px #666;}

                .contact-info #mainContact{ float:left; margin:10px 10px 30px 10px; font-size: 24px; color:#f9f9f9; }
                    .contact-info #mainContact li {display:block; position: relative; text-shadow: 0px 2px 3px #666;}
                        .contact-info #mainContact li a { color:#f9f9f9; margin:0; }
                            #mainContact li a span { position:relative; margin:0;top:-7px; }

        .contact-info-arrow-down {
            float:right;
            position: relative;
            right:400px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 40px 40px 0 0;
            border-color: rgba(51,55,69,0.6) transparent transparent transparent;

        }

        .contact-info.columns { margin-right:0 !important; }


	footer { padding: 10px 0 20px 0; margin-top: 30px; background: url(../../images/stripes.png) top left repeat; }
		footer span { float:left; position: relative; display:inline; margin: 10px 10px 0 10px;  }
		footer h5 { display:inline; }
		footer .navigation { top: 3px; }
        footer .footer-text { float:right; }
            footer .footer-text p { display:inline; margin:0; }
            footer .footer-text h5, footer .footer-text a { display:inline; margin:0; color: #333745; font: bold 14px "Helvetica Neue","Helvetica",Arial,sans-serif; }
               footer .footer-text a:hover { color: #77C4D3; }

/* #Image Hover Effects
================================================== */

	.thumbnail.view {
		width: 298px;
		height: 148px;
		overflow: hidden;
		text-align: center;
		border:1px solid #a3a5ab;
		cursor: default;
	}
	.thumbnail.view:hover {
		-webkit-box-shadow: 0px 0px 8px rgba(51, 55, 69, 0.65);
		-moz-box-shadow:    0px 0px 8px rgba(51, 55, 69, 0.65);
		box-shadow:         0px 0px 8px rgba(51, 55, 69, 0.65);
	}
	.view .mask {
	   width: 280;
	   height: 150px;
	   position: absolute;
	   overflow: hidden;
	   display: block;
	   top: 0;
	   left: 0;
	}

	.mask .info { float: left; position: relative; width: 100%; height: 100%; }

	.mask .info h5 { float:left; position:relative; display:block; margin: 10px; }

	a.third-effect { display:block; width:100%; height: 100%; }

	.third-effect .mask {
	   opacity: 0;
	   width:300px;
	   height:300px;
	   overflow:visible;
	   background-color: rgba(51,55,69,0.7);
	   -webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	   box-sizing:border-box;
	   -webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	   -o-transition: all 0.4s ease-in-out;
	   -ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;


	}
	.third-effect a.info {
	   position:relative;
	   top:-10px; /* Center the link */
	   opacity: 0;
	   -webkit-transition: opacity 0.5s 0s ease-in-out;
	   -moz-transition: opacity 0.5s 0s ease-in-out;
	   -o-transition: opacity 0.5s 0s ease-in-out;
	   -ms-transition: opacity 0.5s 0s ease-in-out;
	   transition: opacity 0.5s 0s ease-in-out;
	}
	.third-effect:hover .mask {
	   opacity: 1;
	   background-color: rgba(0,0,0,0.7);
	}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
    
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        .contact-info {}
        .description .contact-info-arrow-down { right: 150px; top:0; }
    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        .navigation {
        	float:left;
            top: 0 !important;
        }
        .subtitle { clear:both; margin-bottom:10px !important; }
        footer .footer-text { float:left; }
        .contact-form h2, .contact-form p { margin-left:0; }
            .contact-form input[type="text"],
            .contact-form input[type="password"],
            .contact-form input[type="email"],
            .contact-form textarea,
            .contact-form select {
                width:300px !important;
            }

        .contact-info { float:left; clear:both; margin:20px 0 !important; }
        .contact-info-arrow-down { right: 245px; top:0; }
        
        .description .contact-info-arrow-down { right: 345px; top:0;}
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        .navigation {
        	float:left;
            top: 0 !important;
        }
        .subtitle { clear:both; margin-bottom:10px !important; }
        .thumbnail img { width: 300px; }
        footer .footer-text { float:left; }

        .contact-form h2, .contact-form p { margin-left:0; }
            .contact-form input[type="text"],
            .contact-form input[type="password"],
            .contact-form input[type="email"],
            .contact-form textarea,
            .contact-form select {
                width:235px !important;
            }

        .description .contact-info-arrow-down { right: 235px; top:0;}

        .contact-info { float:left; clear:both; margin:20px 0 !important; }
        .contact-info-arrow-down { right: 150px; top:-20px; }
    }


/* #Font-Face
================================================== */
    /* 	This is the proper syntax for an @font-face file
    		Just create a "fonts" folder at the root,
    		copy your FontName into code below and remove
    		comment brackets */

@font-face {
    font-family: 'code_boldregular';
    src: url('webfonts/code_bold-webfont.eot');
    src: url('webfonts/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/code_bold-webfont.woff') format('woff'),
         url('webfonts/code_bold-webfont.ttf') format('truetype'),
         url('webfonts/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'code_lightregular';
    src: url('webfonts/code_light-webfont.eot');
    src: url('webfonts/code_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/code_light-webfont.woff') format('woff'),
         url('webfonts/code_light-webfont.ttf') format('truetype'),
         url('webfonts/code_light-webfont.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* #IE-Fixes
================================================== */
/*  Fixes for all versions of IE [7,8,9+] */

/* IE7 */

/* #Image Hover Effects
================================================== */

.ie7 .thumbnail.view { width: 298px; height: 148px; overflow: hidden; text-align: center; border:1px solid #a3a5ab; cursor: default; }

.ie7 .view .mask { width: 280; height: 150px; position: absolute; overflow: hidden; display: block; top: 0; left: 0; }

.ie7 .mask .info { float: left; position: relative; width: 100%; height: 100%; }

.ie7 .mask .info h5 { float:left; position:relative; display:block; margin: 10px; }

.ie7 a.third-effect { display:block; width:100%; height: 100%; }

.ie7 .third-effect .mask { opacity: 0; width:300px; height:300px; overflow:visible; }

.ie7 .third-effect .mask .info { position:relative; top:0; filter: alpha(opacity = 0); background-color: #333745; }

.ie7 .third-effect:hover .mask .info { opacity: 1; filter: alpha(opacity = 100); background-color: #333745; }

.ie7 .contact-info { float:left;position:relative;background-color: #333745;filter alpha(opacity = 50); }
    
    .ie7 .contact-info h4, .ie7 .contact-info ul { filter alpha(opacity = 100); } 

        .ie7 .contact-info ul { float:left; position:relative; display:block; }

    .ie7 .contact-info .button { position:relative; float:left; display:block; border: 5px solid #333745; margin:0; padding: 5px; margin-bottom:3px !important; }

.ie7 .contact-info-arrow-down { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/arrow.png', sizingMethod='scale'); border: none; width:68px; height:62px; top:-1px;  }

.ie7 #mj-contact-form, .ie7 .contact-form { width: 100%; position:relative; }
    
    .ie7 #mj-contact-form { top:-20px; }
    
    .ie7 .contact-form input[type="submit"]{ position:relative; right: 30px; border:1px solid #333745; }

/* IE8 */

/* #Image Hover Effects
================================================== */

.ie8 .thumbnail.view { width: 298px; height: 148px; overflow: hidden; text-align: center; border:1px solid #a3a5ab; cursor: default; }

.ie8 .view .mask { width: 280; height: 150px; position: absolute; overflow: hidden; display: block; top: 0; left: 0; }

.ie8 .mask .info { float: left; position: relative; width: 100%; height: 100%; }
    
    .ie8 .mask .info p { position: static; }

.ie8 .mask .info h5 { float:left; position:relative; display:block; margin: 10px; }

.ie8 a.third-effect { display:block; width:100%; height: 100%; }

.ie8 .third-effect .mask { opacity: 0; width:300px; height:300px; overflow:visible; }

.ie8 .third-effect .mask .info { position:relative; top:0; filter: alpha(opacity = 0); background-color: #333745; }

.ie8 .third-effect:hover .mask .info { opacity: 1; filter: alpha(opacity = 100); background-color: #333745; }

.ie8 .contact-info { float:left;position:relative;background-color: #333745;filter alpha(opacity = 50); }
    
    .ie8 .contact-info h4, .ie8 .contact-info ul { filter alpha(opacity = 100); } 

    .ie8 .contact-info .button { position:relative; float:left; border-right: 5px solid #333745; }

.ie8 .contact-info-arrow-down { -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/arrow.png', sizingMethod='scale')"; border:none; width:68px; height:62px; top:-1px; }

.ie8 #mj-contact-form, .ie8 .contact-form { width: 100%; }
    
    .ie8 .contact-form input[type="submit"]{ position:relative; right: 50px; }
