/* KONTAKFTFORMULAR
--------------- */

#mj-contact-form > form > fieldset > textarea {
	width: 400px;
	height: 150px;
	border: 1px solid #444;
	padding: 5px;
}

#mj-contact-form > form > fieldset > select {
	margin: 5px 0 20px 0;
	width: 250px;
}

#mj-contact-form > form > fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

#mj-contact-form em {
	color: red;
	font-size: 1.2em;
}

#mj-response {
	margin: 20px 0;
	font-weight: bold;
	color: #EE2233;
}

#mj-submit {
	padding: 7px;
    border: 1px solid #444;
    color: #444;
    background-color: #EEE;
}

#mj-contact-form > form > fieldset > input {
	border: 1px solid #444;
	padding: 5px;
	width: 213px;
}

#mj-contact {
	margin: 0 20px 0 0 !important;
	width: 220px;
} 

#mj-message {
	width: 380px;
	float: left;
}

#mj-contact-form > form > fieldset > input.mj-recheck  {
	border: 1px solid red;
}

#mj-contact-form > form > fieldset > select.mj-recheck {
	color: red;
}