:template-header
	<body>
		<div class="container">
			<header class="column">
				:page-header
			</header>
			<!-- <hr> -->
			<div id="content" class="home">
				:category_list
			</div>
:site-footer