:template-header
	<body>
		<div class="container">
			<header class="column">
				:page-header
			</header>
			<!-- <hr> -->

			<div id="content">

				<div class="description sixteen columns">
					<h2>@title</h2>
					:media
					<div class="two-thirds column">
						@content
					</div>
					<div class="contact-info one-third column">
						<h4>@about</h4>
						<ul>
							<li class="button">HTML</li>
							<li class="button">HTML5</li>
							<li class="button">CSS3</li>
							<li class="button">Responsive Design</li>
							<li class="button">jQuery</li>
							<li class="button">UI Design</li>
							<li class="button">Web Design</li>
							<li class="button">Photoshop</li>
							<li class="button">Illustrator</li>
						</ul>
					</div>
					<div class="contact-info-arrow-down">&nbsp;</div>
				</div>

			</div>
:site-footer