:template-header

<div class="container">
	<header class="column">
		:page-header
	</header>

	<div id="content" class="sixteen columns">
		<h2>@title</h2>
		<div class="contact-form eight columns">
			foreach $php do
				@content
			endforeach
		</div>
		<div class="contact-info eight columns">
			<h4>@content</h4>
			<section id="mainContact">
				<ul>
					<li>
						<a href="http://www.linkedin.com/in/forsythdesign/" target="_blank">
							<img src="@root_path/public/images/linkedin.png" />
							<span>Craig Forsyth</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/Forsyth_Design" target="_blank">
							<img src="@root_path/public/images/twitter.png" />
							<span>@Forsyth_Design</span>
						</a>
					</li>

				</ul>
			</section>

		</div>
		<div class="contact-info-arrow-down">&nbsp;</div>
	</div>

:site-footer