:template-header
	<body>
		<div class="container">
			<header class="column">
				:page-header
			</header>	
			<!-- <hr> -->
			<div id="content" class="home">
				:categoryLists
			</div>

:site-footer