:template-header
	<body>
		<div class="container">
			<header class="column">
				:page-header
			</header>
			<!-- <hr> -->
			<div id="content">
				:media
			</div>
			<div class="description six columns offset-by-one">
				<h4><a href="@root_path/">@title</a></h4>
				<!-- <p><em>@date</em></p> -->
				<p><em class="background">@keywords</em></p>
				<h5>Role: @jobtitle</h5>
				<br />
				@content
				<a class="button" href="@website" target="_blank">Visit Site</a>
			</div>
:site-footer